.sicTabContent.cobiss select,
.sicTabContent.cobiss input
{
    display: block;
    float: left;
    margin-right: 10px;
}

.sicTabContent.cobiss select
{
    width: 100px;
}

.sicTabContent.cobiss img.loadingImg
{
    display: none;
}

div.pubSearch_leftContainer { width:340px; display: inline-table; }
div.pubSearch_rightContainer { display: inline-table; }