a { color: #888; font-weight:bold; }
a:hover { color:#555; }

body, div { font-size:12px; color: #222; }

div.nav1 { margin-left:10px; }

.mainMenuList { display: inline; font-weight: bold; border-right: silver solid 2px; padding:0px 3px 0px 4px; }
.noBorder { border:none; }

table.logoTable { border:none; margin-bottom:0px; }
div.mainTitle { display:inline-table; font-size:24px; margin-left:10px; margin-top:20px; vertical-align:top; color:#553490; }

div.statusDiv { font-weight:bold; margin: 4px 12px 0px 12px; color:#6699CC; }
div.errorDiv { color:#996666; }

/* *** Widgets *** */

/* sicTabPage */
div.sicTabHeader { border-bottom:#87BCEA solid 3px;  }
div.sicTabButton { display:inline-table; padding:7px 10px 5px 10px; border:#CCCCCC solid 1px;
    border-left-width:0px; border-bottom-width:0px; border-radius:8px 8px 0px 0px; cursor:pointer; }
div.sicTabButton.active { border-color:#AAAAAA; }
div.sicTabButton:first-of-type { border-left-width:1px; }
div.sicTabContent { margin-top:5px; }

span.sicTabButton_caption { }
span.sicTabButton_closeButton { position:relative; margin:0px 10px 0px 5px; }
span.sicTabButton_closeButton > img { position:absolute; left:3px; top:0px; width:12px; max-width:12px;
    border-radius:10px; opacity:0.75; }
span.sicTabButton_closeButton > img:hover { opacity:1.0; }

/* sicPanel */
div.sicPanel { display:inline-table; }
div.sicPanelGroup { display:inline-table; margin:5px 5px 5px 10px; }
div.sicPanelGroup > div.header { font-weight:bold; border:silver solid 1px; padding:5px; margin-bottom:2px; }
div.sicPanelGroup > div.content {}

/* sicInput */
input.sicInput, textarea.sicInput { margin:0px 0px 2px 0px; color:#444; }
input.sicInput.labeled, textarea.sicInput.labeled { color:silver; font-style:italic; }

input.sicInput[type=button] { color:white; padding:3px 10px; }
input.sicInput[type=button].gradGold { color:black; }

/* sicDataTable */
div.sicDataTable > table.sicDataTable_table { }
div.sicDataTable > table.sicDataTable_table tbody > tr:hover { background:#DDEEFF; }